<!DOCTYPE html>
<html>

{{information}}

<body>

    <iframe src={{m.0.1.instruction_url}} frameborder=1 scrolling=yes></iframe> 

    <div class="timer" data-seconds-left=m.0.1.cooking_time>
        <script>
          (function(){
            ('.timer').startTimer();
          });
        </script>
    </div>


        <script src="/timer.js">
          ('#divId').timer(); //Same as $('#divId').timer('start')
          ('#divId').timer('pause');
          ('#divId').timer('resume');
          ('#divId').timer('remove');
          //start a timer & execute a function in 10 minutes & 30 seconds
          ('#divId').timer({
           duration: '10m30s',
           callback: function() {
           alert('Time up!');
           console.log('Timer will reset!');
           ('#divId').timer('reset');
            }
            repeat: true //repeatedly calls the callback you specify
          });
        </script>

</body>
</html>