<!DOCTYPE html>
<html>

{{information}}

<body>

    <iframe src={{m.0.1.instruction_url}} frameborder=1 scrolling=yes></iframe> 


    <iframe src="http://free.timeanddate.com/countdown/i53gogqs/n64/cf108/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pcfff/tc66c/fs100/szw320/szh135/tatTime%20countdown/tac000/tptTime%20since%20Event%20started%20in/tpc000/mac000/mpc000/iso2016-03-06T00:00:00" allowTransparency="true" frameborder="0" width="320" height="135"></iframe>



    <div class="timer" data-seconds-left=m.0.1.cooking_time>
        <script>
          (function(){
            ('.timer').startTimer();
          });
        </script>
    </div>


        <script src="/timer.js">
          ('#divId').timer(); //Same as $('#divId').timer('start')
          ('#divId').timer('pause');
          ('#divId').timer('resume');
          ('#divId').timer('remove');
          //start a timer & execute a function in 10 minutes & 30 seconds
          ('#divId').timer({
           duration: '10m30s',
           callback: function() {
           alert('Time up!');
           console.log('Timer will reset!');
           ('#divId').timer('reset');
            }
            repeat: true //repeatedly calls the callback you specify
          });
        </script>

</body>
</html>