<!-- This file contains the layout for the search webpage. -->

<!-- Modified from https://css-tricks.com/specifics-on-css-specificity/ START-->
<style>

    ul#id_cuisine li {
        display: inline;
    }

    ul#id_allergy li {
        display: inline;
    }

    ul#id_diet li {
        display: inline;
    }

    ul#id_shopping_list li {
        display: inline;
    }

    ul#menu{
        list-style-type: disc;
    }

</style>
<!-- Modified from https://css-tricks.com/specifics-on-css-specificity/ END-->

<!-- Direct Copy from Prof. Gustav during office hour START -->
<form method="get">
  <label><h2> Food Butler </h2></label>
  <table class="form"> {{ form }} </table>
  <input type="submit" name="search" value="submit">
</form>
<!-- Direct Copy from Prof. Gustav during office hour END -->

<!-- Original START -->
{% if e != None %}
<h3>{{e}}</h3>
{% endif %}

{% if m != None %}
<h2>MENU</h2>
<!-- Original END -->

<!-- direct copy from http://api.jquery.com/toggle/ START -->
<head>
  <meta charset="utf-8">
  <title>toggle demo</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<button>Ingredients</button>
<script>
$( "button" ).click(function() {
  $( "div1" ).toggle();
});
</script>
</body>
<!-- direct copy from http://api.jquery.com/toggle/ END -->

<!-- Original START -->
<body>
  <table border="1" style="width:100%" cellspacing="5" cellpadding="5" 
  height="50px">
    {%for h in m%}
    <tr>
      {% for i in h %}
        <td style="vertical-align:top;width:14%">
          <div style='float: right; text-align: right'>{{i.num}}</div>
          <div style='float: left; text-align: left'>
            <h3>{{i.name}}</h3>
            <p>Cooking Time: <b>{{i.cooking_time}}</b></p>
            <p>Calories: <b>{{i.calories}}</b></p>
            <div1 id="hidden" style="display:none">Ingredients:</h4> 
              <ul class="menu" style="list-style-type:disc">
              {%for j in i.ingredients%}
                <li>{{j}}</li>
              {%endfor%}
              </ul>
            </div1>
            <p>
              <a href={{i.instruction_url}}>
                <img src={{i.pic_url}} style="width:250px;height:250px;
                border:0">
              </a>   
            </p> 
          </div>
        </td>
      {% endfor %}
    </tr> 
    {%endfor%}

    <tr>
    {% for i in ca %}
      <td>
      Total Calories: {{i}}
      </td>
    {% endfor %}
    </tr> 
  </table>

  <h2>ALTERNATIVE</h2>

<!-- direct copy from http://api.jquery.com/toggle/ START -->
<head>
  <meta charset="utf-8">
  <title>toggle demo</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<button>Ingredients</button>
<script>
$( "button" ).click(function() {
  $( "div2" ).toggle();
});
</script>
</body>
<!-- direct copy from http://api.jquery.com/toggle/ END -->

  <table border="1" style="width:100%">
  {%for h in a%}
    <tr>
    {% for i in h%}
      <td style="vertical-align:top;width:14%">
      <div style='float: right; text-align: right'>{{i.num}}</div>
      <div style='float: left; text-align: left'>
        <h3>{{i.name}}</h3>
        <p>Cooking Time: <b>{{i.cooking_time}}</b></p>
        <p>Calories: <b>{{i.calories}}</b></p>
        <div2 id="hidden" style="display:none">Ingredients:</h4> 
          <ul class="menu" style="list-style-type:disc">
            {%for j in i.ingredients%}
            <li>{{j}}</li>
            {%endfor%}
          </ul>
        </div2>
        <p>
          <a href={{i.instruction_url}}>
            <img src={{i.pic_url}} style="width:250px;height:250px;border:0">
          </a>
        </p> 
      </div>
      </td>
    {% endfor %}
    </tr> 
  {%endfor%}
  </table>
</body>
{% endif %}
<!-- Original END -->


