<h2>Shopping List</h2>
<table width="100%">

{%for day, things in shopping_list.items%}
<tr>
<td style="vertical-align:top">
    <!-- <table border="1" style="display:inline-block;float:left;vertical-align:top"> -->
    <table>
    <th>Day{{day}}</th>
    <tr>
        <td><b>Item</b></td>
        <td><b>Amount</b></td>
    </tr>
    {%for ingredient, amount in things.items%}
        <tr>
        <td>
            {{ingredient}}
        </td>
        <td>
            {{amount}}
        </td>
        </tr>
    {% endfor %}
    </table>
</td>
</tr>
{% endfor %}

</table>