{{breakfast.0.0.picurl}}

<!DOCTYPE html>
<html>
<body>

<h2>MENU</h2>
<h4> <a href="{% url 'shopping_list' %}">Shopping List</a> </h4>
<table border="1" style="width:100%">
{%for h in m%}
  <tr>
    {% for i in h %}
    <td style="width:14%">
    <h3>{{i.name}}</h3>
    <p>Cooking Time: <b>{{i.cooking_time}}</b></p>
    <p>Calories: <b>{{i.calories}}</b></p>

    <a id="displayText" href=":toggle()";> show </a>
    <div id="toggleText" style="display: none">
    <h4>Ingredients:</h4> 
        <ul style="list-style-type:disc">
            {%for j in i.ingredients%}
            <li>{{j}}</li>
            {%endfor%}
        </ul>
    <h4>
    </div>

        <body>
        <a href={{i.instruction_url}}>
             <img src={{i.pic_url}} style="width:250px;height:250px;border:0">
        </a>
        </body>
    </h4> 
    </td>
    {% endfor %}
  </tr> 
{%endfor%}

<tr>
    {% for i in ca %}
    <td>
    Total Calories: {{i}}
    </td>
    {% endfor %}
</tr> 
</table>

<h2>ALTERNATIVE</h2>
<table border="1" style="width:100%">
{%for h in a%}
    <tr>
    {% for i in h%}
    <td style="width:14%">
    <h3>{{i.name}}</h3>
    <p>Cooking Time: <b>{{i.cooking_time}}</b></p>
    <p>Calories: <b>{{i.calories}}</b></p>
    <h4>Ingredients:</h4> 
        <ul style="list-style-type:disc">
            {%for j in i.ingredients%}
            <li>{{j}}</li>
            {%endfor%}
        </ul>
    <h4>
        <body>
        <a href={{i.instruction_url}}>
             <img src={{i.pic_url}} style="width:250px;height:250px;border:0">
        </a>
        </body>
    </h4> 
        
    </td>
    {% endfor %}
  </tr> 
{%endfor%}
</table>
</body>

</html>



