{{breakfast.0.0.picurl}}

<!DOCTYPE html>
<html>
<body>

<h3>MENU</h3>
<table border="1" style="width:100%">
{%for h in m%}
  <tr>
    {% for i in h %}
    <td>
    <h4>Name:</h4>
        <body>{{i.name}}</body>
    <h4>Cooking Time:</h4> 
        <body>{{i.cookingtime}}</body>
    <h4>Calories:</h4> 
        <body>{{i.calories}}</body>
    <h4>Ingredients:</h4> 
        <ul style="list-style-type:disc">
            {%for j in i.ingredients%}
            <li>{{j}}</li>
            {%endfor%}
        </ul>
    </td>
    {% endfor %}
  </tr> 
{%endfor%}

    <tr>
    {% for i in ca %}
    <td>
    Total Calories: {{i}}
    </td>
    {% endfor %}
  </tr> 
</table>

<h3>ALTERNATIVE</h3>
<table border="1" style="width:100%">
{%for h in a%}
    <tr>
    {% for i in h%}
    <td>
    <h4>Name:</h4>
        <body>{{i.name}}</body>
    <h4>Cooking Time:</h4> 
        <body>{{i.cookingtime}}</body>
    <h4>Calories:</h4> 
        <body>{{i.calories}}</body>
    <h4>Ingredients:</h4> 
        <ul style="list-style-type:disc">
            {%for j in i.ingredients%}
            <li>{{j}}</li>
            {%endfor%}
        </ul>
        
    </td>
    {% endfor %}
  </tr> 
{%endfor%}
</table>
</body>
</html>


TESTING
{{d.0}}
{% for i in d %}
{% for j in i %}
{{j}}
{% endfor %}
{% endfor %}

